.contacts-bar {
  transition: width 0.5s ease;
  width: 5rem; 
  box-shadow: 0.063rem 0 1.25rem 0 #301c66;
  @apply absolute h-full top-0 right-0 bg-blue-950 z-10
}
.contacts-header {
  height: 80px;
  max-width: 20rem;
  width: 5.5rem;
  min-width: 5.5rem;
  position: fixed;
  transition: width 1 ease-in-out;
}

.contacts-collapsed {
  width: 20rem;
}

.logo-container {
  display: block;
  margin: 0.5rem;
  width: 4rem;
  min-height: 4rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: bisque;
  position: fixed;
  right: 0rem;
  overflow: hidden;
}

/* .logo {
  background: #fff;
  text-align: center;
  width: 3.5rem;
  height: 3.5rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
} */

.btn-close {
  margin-right: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: none;
}
.close-icon {
  color: #fff !important;
  font-size: 24px;
}

.navbar-nav {
  list-style: none;
  padding: 1rem;
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 3.5rem);
  cursor: pointer;
}
.navbar-nav-item {
  border-color: #000;
  border: #000, 1rem;
  width: 100%;
  margin-bottom: 0.6rem;
}
.navbar-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: #f3f3f3;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.navbar-nav-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  text-align: center;
  margin: 0 0.5rem;
}

.navbar-link-text {
  margin-left: 1.5rem;
}

.navbar-nav-item:hover {
    .navbar-link {
        background-color: #fff;
        color: #000;
    }
}

.active {
  background-color: #fff;
  color: #000;
}
