.app-container {
    @apply flex flex-row w-[1280px] h-[1200px] m-auto overflow-hidden
}

.content-collapsed{
    width: calc(100% - 20rem);
}

.content-collapsed-mobile {
    width: calc(100% - 5rem);
}
.content {
    @apply flex flex-grow bg-white pt-24;
    width: calc(100% - 16.5rem);
}

.contacts{
    @apply flex flex-col w-96 h-full p-4 overflow-auto relative
}
 