.app-container {
    display: flex;
    flex-direction: row;
    width: 1020px;
    height: 1200px;
    margin: auto;
    overflow: hidden;
}

.content-collapsed{
    width: calc(100% - 20rem);
}

.content-collapsed-mobile {
    width: calc(100% - 5rem);
}
.content {
    flex-grow: 1;
    width: calc(100% - 16.5rem);
    background: #fff;
    padding: 0;
}

.contacts {
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    overflow: auto;
    position: relative;
}
 