<div>
    <app-sesarch-input  
        [showLabel]= "false"
        placeholder="Search for a Player or User Name"

    />
    I'm a lonely component waiting to be completed.
    <!--? General input search that works in both lists -->
    <!--? Need to handle empty lists nicely  -->
    <!--? two contact lists: "Your contacts" and "Lets stalk someone" (provisional name) -->

    <!--! fields needed: id (for sending the request or moving into a view), picture (pink dot atm), player name, user name -->
    <!--? it might be interesting to add  player name and user name in the same field, but be sure the list doesn't feel empty.  -->
</div>
